.dash-content{
    height: 80vh;
    width: 80vw;
   

}

.main-d{
    background:rgb(213, 179, 179);
    border-radius: 10px;
    margin: 35px 15px;
    padding: 10px 15px;
}

.content-d{
    background: rgba(223, 202, 202, 0.67);
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;

}